@model LanguagesViewModel

@{
    ViewData["Title"] = "Languages";
}

<h1>Languages</h1>

<section class="row">
    <section class="col-8 mb-4">

        <form asp-controller="Languages" asp-action="GetLanguages" method="post">
            <div class="form-group">
                <label for="search-text">Search text:</label>
                <input type="text" class="form-control" id="search-text" name="searchString" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="case-sensitive" name="caseSensitive" value="true" />
                <label for="case-sensitive">Case sensitive</label>
            </div>
            <button id="search-button" type="submit"
                    class="form-control form-control-sm btn btn-success mb-2">
                Submit
            </button>
        </form>

        <hr />

        <form asp-controller="Languages" asp-action="CreateLanguage" method="post">
            <div class="form-group">
                <label asp-for="CreateLanguageViewModel.Name"></label>
                <input asp-for="CreateLanguageViewModel.Name" class="form-control" />
                <span asp-validation-for="CreateLanguageViewModel.Name" class="text-danger" id="name-validation-message"></span>
            </div>
            <button id="create-button" type="submit" class="form-control form-control-sm btn btn-success mb-2">
                Submit
            </button>
            <button type="reset" class="form-control form-control-sm btn btn-danger">
                Reset
            </button>
        </form>
        <hr />
    </section>
    <section class="col-8 mb-4">
        <form asp-controller="Languages" method="post">
            <label for="id-text" class="control-label">Id:</label>
            <div class="input-group">
                <input type="number" id="id-number" min="1" name="id" />
                <button id="get-languages-button" type="submit" asp-action="GetLanguages"
                        class="btn btn-primary">
                    Languages
                </button>
                <button id="get-language-details-button" type="submit" asp-action="GetLanguageDetails"
                        class="btn btn-primary">
                    Details
                </button>
                <button id="delete-language-button" type="submit" asp-action="DeleteLanguage"
                        class="btn btn-primary">
                    Delete
                </button>
            </div>
        </form>
    </section>
    <section class="col-8 mb-4">
        <section>
            <partial name="../Shared/_AlertMessagesPartial.cshtml" />
            @{
                if ((string)TempData["get-language-details"] == "success")
                {
                    <partial name="../Shared/_LanguageDetailsPartial.cshtml" model="Model" />
                }
                else
                {
                    <div id="noscript-languages-partial">
                        <partial name="../Shared/_LanguagesPartial.cshtml" model="Model" />
                    </div>
                }
            }
        </section>
        <section id="languages"></section>
    </section>
</section>

<script src="~/js/languages.js" asp-append-version="true"></script>
<script src="~/js/languages-view.js" asp-append-version="true"></script>
