@model CreateCityViewModel

@{
    ViewData["Title"] = "Create city";
}

<h1>@ViewData["Title"]</h1>

@if ((string)TempData["create-city"] == "failure")
{
    <div class="alert alert-danger">
        <strong>Failed to create the city!</strong>
    </div>
}
else if ((string)TempData["create-city-country-non-existing"] == "failure")
{
    <div class="alert alert-danger">
        <strong>Failed to create the city because the country didn't exist!</strong>
    </div>
}

<a asp-controller="Cities" asp-action="Index" class="link-primary">Go back to cities</a>

<hr />

<form asp-controller="Cities" asp-action="CreateCity" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryId"></label>
        <select asp-for="CountryId" asp-items="@Model.Countries" class="form-control">
            <option value="">Please select a country</option>
        </select>
        <span asp-validation-for="CountryId" class="text-danger" id="country-validation-message"></span>
    </div>
    <button type="submit" class="form-control form-control-sm btn btn-success mb-2">
        Create city
    </button>
    <button type="reset" class="form-control form-control-sm btn btn-danger">
        Reset
    </button>
</form>
