@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>
    In summary, I have acquired knowledge in IT from university studies, my own projects and now from my education at Lexicon.
    Knowledge in IT has also been acquired from Komvux and I have been in contact with IT through my work at a call center and 
    as a computer teacher assistant. Finally, I also have an education in music and sound design and have some work experience
    that is not related to IT.
</p>

<h2>Short-term goals</h2>
<p>
    I want to become a good programmer and learn a lot during the practical part of my education at Lexicon.
</p>

<h2>Long-term goals</h2>
<p>
    Continue to improve my skills in IT. In the future I can also see myself working with game development,
    gamification or sound design. I also have a desire to use my knowledge to make a positive contribution to the world.
</p>
