@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<h2>Phone</h2>
<p>
    +46 (0)70 - xxx xx xx
</p>

<h2>Adress</h2>
<p>
    Thosel Thoselsson
    <br />
    Thoselgatan 37
    <br />
    458 73 Thosellanda
</p>