@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<section class="mb-4">
    <h4>Phone:</h4>
    <p>+46 (0)70 - xxx xx xx</p>
</section>

<section class="mb-4">
    <h4>Adress:</h4>
    <p>Thosel Thoselsson<br />
    Thoselgatan 37<br />
    458 73 Thosellanda</p>
</section>