@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<h2>Programming</h2>
<a href="https://github.com/thosel/Calculator" target="_blank">Calculator</a>
<br />
<a href="https://github.com/thosel/Hangman" target="_blank">Hangman</a>
<br />
<br />

<h2>Advanced programming</h2>
<a href="https://github.com/thosel/Calculator/tree/optional-tasks" target="_blank">Calculator - xUnit</a>
<br />
<a href="https://github.com/thosel/VendingMachine" target="_blank">Vending machine</a>
<br />
<a href="https://github.com/thosel/TodoIt" target="_blank">Todo it</a>
<br />
<br />

<h2>Frontend</h2>
<a href="https://github.com/thosel/Calculator/tree/FrontendFundamentals" target="_blank">Frontend fundamentals</a>
<br />
<a href="https://github.com/thosel/IntroductionToBootstrap" target="_blank">Introduction to Bootstrap</a>
<br />
<a href="https://github.com/thosel/Sokoban" target="_blank">Sokoban</a>
<br />
<br />