@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<h2>Programming</h2>
A basic console based calculator that handles basic mathematical operations:
<br />
<a href="https://github.com/thosel/Calculator" target="_blank">Calculator</a>
<br />
<br />
A simple guessing game:
<br />
<a href="https://github.com/thosel/Hangman" target="_blank">Hangman</a>
<br />
<br />

<h2>Advanced programming</h2>
xUnit tests for the basic console based calculator mentioned above:
<br />
<a href="https://github.com/thosel/Calculator/tree/optional-tasks" target="_blank">Calculator - xUnit</a>
<br />
<br />
A simple vending machine:
<br />
<a href="https://github.com/thosel/VendingMachine" target="_blank">Vending machine</a>
<br />
<br />
Group assignment, 3 collaborators:
<br />
<a href="https://github.com/thosel/TodoIt" target="_blank">Todo it</a>
<br />
<br />

<h2>Frontend</h2>
Assignment to build two basic HTML structured pages:
<br />
<a href="https://github.com/thosel/FrontendFundamentals/tree/optional-tasks" target="_blank">Frontend fundamentals</a>
<br />
<br />
An assignment that is meant as an introduction to the use of Twitter Bootstrap:
<br />
<a href="https://github.com/thosel/IntroductionToBootstrap" target="_blank">Introduction to Bootstrap</a>
<br />
<br />
A simple JavaScript game:
<br />
<a href="https://github.com/thosel/Sokoban" target="_blank">Sokoban</a>
<br />
<br />