@model PeopleViewModel

@{
    ViewData["Title"] = "People";
}

<h1>People</h1>

<section class="row">
    <section class="col-8 mb-4">

        <form asp-controller="People" asp-action="GetPeople" method="post">
            <div class="form-group">
                <label for="search-text">Search text:</label>
                <input type="text" class="form-control" id="search-text" name="searchString" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="case-sensitive" name="caseSensitive" value="true" />
                <label for="case-sensitive">Case sensitive</label>
            </div>
            <button id="search-button" type="submit"
                    class="form-control form-control-sm btn btn-success mb-2">
                Submit
            </button>
        </form>

        <hr />

        <form asp-controller="People" asp-action="CreatePerson" method="post">
            <div class="form-group">
                <label asp-for="CreatePersonViewModel.Name"></label>
                <input asp-for="CreatePersonViewModel.Name" class="form-control" />
                <span asp-validation-for="CreatePersonViewModel.Name" class="text-danger" id="name-validation-message"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatePersonViewModel.Phone"></label>
                <input asp-for="CreatePersonViewModel.Phone" class="form-control" />
                <span asp-validation-for="CreatePersonViewModel.Phone" class="text-danger" id="phone-validation-message"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatePersonViewModel.City"></label>
                <select asp-for="CreatePersonViewModel.City" asp-items="@Model.CreatePersonViewModel.Cities" class="form-control">
                    <option value="">Please select a city</option>
                </select>
                <span asp-validation-for="CreatePersonViewModel.City" class="text-danger" id="city-validation-message"></span>
            </div>
            <button id="create-button" type="submit" class="form-control form-control-sm btn btn-success mb-2">
                Submit
            </button>
            <button type="reset" class="form-control form-control-sm btn btn-danger">
                Reset
            </button>
        </form>
        <hr />
    </section>
    <section class="col-8 mb-4">
        <form asp-controller="People" method="post">
            <label for="id-text" class="control-label">Id:</label>
            <div class="input-group">
                <input type="number" id="id-number" min="1" name="id" />
                <button id="get-people-button" type="submit" asp-action="GetPeople"
                        class="btn btn-primary">
                    People
                </button>
                <button id="get-person-details-button" type="submit" asp-action="GetPersonDetails"
                        class="btn btn-primary">
                    Details
                </button>
                <button id="delete-person-button" type="submit" asp-action="DeletePerson"
                        class="btn btn-primary">
                    Delete
                </button>
            </div>
        </form>
    </section>
    <section class="col-8 mb-4">
        <section>
            <partial name="../Shared/_AlertMessagesPartial.cshtml" />
            @{
                if ((string)TempData["get-person-details"] == "success" ||
                    (string)TempData["add-person-language"] == "success" ||
                    (string)TempData["add-person-language"] == "failure" ||
                    (string)TempData["delete-person-language"] == "success" ||
                    (string)TempData["delete-person-language"] == "failure")
                {
                    <partial name="../Shared/_PersonDetailsPartial.cshtml" model="Model" />
                }
                else
                {
                    <div id="noscript-people-partial">
                        <partial name="../Shared/_PeoplePartial.cshtml" model="Model" />
                    </div>
                }
            }
        </section>
        <section id="people"></section>
    </section>
</section>

<script src="~/js/people.js" asp-append-version="true"></script>
<script src="~/js/people-view.js" asp-append-version="true"></script>
