@model CountriesViewModel

@{
    ViewData["Title"] = "Countries";
}

<h1>Countries</h1>

<section class="row">
    <section class="col-8 mb-4">

        <form asp-controller="Countries" asp-action="GetCountries" method="post">
            <div class="form-group">
                <label for="search-text">Search text:</label>
                <input type="text" class="form-control" id="search-text" name="searchString" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="case-sensitive" name="caseSensitive" value="true" />
                <label for="case-sensitive">Case sensitive</label>
            </div>
            <button id="search-button" type="submit"
                    class="form-control form-control-sm btn btn-success mb-2">
                Submit
            </button>
        </form>

        <hr />

        <form asp-controller="Countries" asp-action="CreateCountry" method="post">
            <div class="form-group">
                <label asp-for="CreateCountryViewModel.Name"></label>
                <input asp-for="CreateCountryViewModel.Name" class="form-control" />
                <span asp-validation-for="CreateCountryViewModel.Name" class="text-danger" id="name-validation-message"></span>
            </div>
            <button id="create-button" type="submit" class="form-control form-control-sm btn btn-success mb-2">
                Submit
            </button>
            <button type="reset" class="form-control form-control-sm btn btn-danger">
                Reset
            </button>
        </form>
        <hr />
    </section>
    <section class="col-8 mb-4">
        <form asp-controller="Countries" method="post">
            <label for="id-text" class="control-label">Id:</label>
            <div class="input-group">
                <input type="number" id="id-number" min="1" name="id" />
                <button id="get-countries-button" type="submit" asp-action="GetCountries"
                        class="btn btn-primary">
                    Countries
                </button>
                <button id="get-country-details-button" type="submit" asp-action="GetCountryDetails"
                        class="btn btn-primary">
                    Details
                </button>
                <button id="delete-country-button" type="submit" asp-action="DeleteCountry"
                        class="btn btn-primary">
                    Delete
                </button>
            </div>
        </form>
    </section>
    <section class="col-8 mb-4">
        <section>
            <partial name="../Shared/_AlertMessagesPartial.cshtml" />
            @{
                if ((string)TempData["get-country-details"] == "success")
                {
                    <partial name="../Shared/_CountryDetailsPartial.cshtml" model="Model" />
                }
                else
                {
                    <div id="noscript-countries-partial">
                        <partial name="../Shared/_CountriesPartial.cshtml" model="Model" />
                    </div>
                }
            }
        </section>
        <section id="countries"></section>
    </section>
</section>

<script src="~/js/countries.js" asp-append-version="true"></script>
<script src="~/js/countries-view.js" asp-append-version="true"></script>
