@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<hr />

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td><a asp-controller="ApplicationUsers" asp-action="UpdateUser" asp-route-userId="@user.Id">Update</a></td>
                <td>
                    @if (!user.UserName.Equals("admin.A1@admin.com"))
                    {
                        <a asp-controller="ApplicationUsers" asp-action="DeleteUser" asp-route-userId="@user.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>