<div id="status-div" class="d-none">
    <strong id="status-message"></strong>
</div>

@{if ((string)TempData["create-person"] == "success")
    {
        <div class="alert alert-success">
            <strong>A new person was created successfully!</strong>
        </div>
    }
    else if ((string)TempData["create-person"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to create a new person!</strong>
        </div>
    }
}

@{if ((string)TempData["delete-person"] == "success")
    {
        <div class="alert alert-success">
            <strong>The person was successfully deleted!</strong>
        </div>
    }
    else if ((string)TempData["delete-person"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to delete the person!</strong>
        </div>
    }
}

@{if ((string)TempData["get-person-details"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to find the person!</strong>
        </div>
    }
}