<div id="status-div" class="d-none">
    <strong id="status-message"></strong>
</div>

@{if ((string)TempData["add-person-language"] == "success")
    {
        <div class="alert alert-success">
            <strong>A person language was added successfully!</strong>
        </div>
    }
    else if ((string)TempData["add-person-language"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to add a person language!</strong>
        </div>
    }
}

@{if ((string)TempData["delete-person-language"] == "success")
    {
        <div class="alert alert-success">
            <strong>The person language was successfully deleted!</strong>
        </div>
    }
    else if ((string)TempData["delete-person-language"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to delete the person language!</strong>
        </div>
    }
    else if ((string)TempData["delete-person-language"] == "error")
    {
        <div class="alert alert-danger">
            <strong>Failed to delete the person language due to invalid person id in uri!</strong>
        </div>
    }
}

@{if ((string)TempData["create-language"] == "success")
    {
        <div class="alert alert-success">
            <strong>A new language was created successfully!</strong>
        </div>
    }
    else if ((string)TempData["create-language"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to create a new language!</strong>
        </div>
    }
}

@{if ((string)TempData["delete-language"] == "success")
    {
        <div class="alert alert-success">
            <strong>The language was successfully deleted!</strong>
        </div>
    }
    else if ((string)TempData["delete-language"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to delete the language!</strong>
        </div>
    }
}

@{if ((string)TempData["get-language-details"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to find the language!</strong>
        </div>
    }
}

@{if ((string)TempData["create-country"] == "success")
    {
        <div class="alert alert-success">
            <strong>A new country was created successfully!</strong>
        </div>
    }
    else if ((string)TempData["create-country"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to create a new country!</strong>
        </div>
    }
}

@{if ((string)TempData["delete-country"] == "success")
    {
        <div class="alert alert-success">
            <strong>The country was successfully deleted!</strong>
        </div>
    }
    else if ((string)TempData["delete-country"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to delete the country!</strong>
        </div>
    }
}

@{if ((string)TempData["get-country-details"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to find the country!</strong>
        </div>
    }
}

@{if ((string)TempData["create-city"] == "success")
    {
        <div class="alert alert-success">
            <strong>A new city was created successfully!</strong>
        </div>
    }
    else if ((string)TempData["create-city"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to create a new city!</strong>
        </div>
    }
}

@{if ((string)TempData["delete-city"] == "success")
    {
        <div class="alert alert-success">
            <strong>The city was successfully deleted!</strong>
        </div>
    }
    else if ((string)TempData["delete-city"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to delete the city!</strong>
        </div>
    }
}

@{if ((string)TempData["get-city-details"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to find the city!</strong>
        </div>
    }
}

@{if ((string)TempData["create-person"] == "success")
    {
        <div class="alert alert-success">
            <strong>A new person was created successfully!</strong>
        </div>
    }
    else if ((string)TempData["create-person"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to create a new person!</strong>
        </div>
    }
}

@{if ((string)TempData["delete-person"] == "success")
    {
        <div class="alert alert-success">
            <strong>The person was successfully deleted!</strong>
        </div>
    }
    else if ((string)TempData["delete-person"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to delete the person!</strong>
        </div>
    }
}

@{if ((string)TempData["get-person-details"] == "failure")
    {
        <div class="alert alert-danger">
            <strong>Failed to find the person!</strong>
        </div>
    }
}